  ////////////////////////////////
 // TYPOGRAPHY //////////////////
////////////////////////////////



// Import Global Typeface
// @font-face {
//     font-family: 'brandon_grotesquebold';
//     src: url('../fonts/dtp/brandongrotesque_bold-webfont.woff2') format('woff2'),
//          url('../fonts/dtp/brandongrotesque_bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// Main Typefaces being used
$georgia : 'Georgia', serif;

// Emphasised/Italic Text
em {
	font-style: italic;
}


// Bolded, Strong Text
strong {
	font-weight: bold;
}